.landing{
    width: 100vw;
    min-height: 90vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}


.heading{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.heading h1{
    font-size: 2.8rrem;
    color: #dac8be;
    border-bottom: 4px solid #f5f1ee;
}

.table{
    width: 100vw;
    min-height: 80%;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.table-heading{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px solid #f5f1ee;
}

.table-heading h3{
    color: #f5f1ee;
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
}
.card-container{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}