@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
.navbar{
    width: 100vw;
    height: 10vh;
    padding: 5px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.navbar h2{
    margin-left: 40px;
    font-size: 2.2rem;
    font-weight: 800;
    color: #f5f1ee;
    padding: 10px;
}
.navbar span{
    font-size: 1.6rem;
}